/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: "Inter-Variable";
  --accent-font-family: "PressStart2P";
  --title-font-weight: 700;
  --main-font-weight: 400;
  --border-color: #000;
  --bg-color: #fff;
  --bg-image: repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
  --shadow-color: #fff;
  --bg-button-hover: #000;
  --button-color: #fff;
  --contour-color: #000;
  --sparks-color: #f00;
  --active-color: #f00;
}
